/* general */

:root {
    /* number */
    --header-height: 120px;
    --sort-bar-height: 46px;
    /* color */
    --white-color: white;
    --black-color: black;
    --text-color: #333;
    --light-title-color: #999;
    --primary-color: #ee4d2d;
    --light-btn-primary-color: #fb5533;
    --main-color1: #f53d2d;
    --main-color2: #ff6633;
    --border-color: lightcoral;
    --hover-color: #eee;
    --contain-color: #f5f5f5;
    --footer-color: #777;
}