/* general */

:root {
    /* number */
    --header-height: 120px;
    --sort-bar-height: 46px;
    /* color */
    --white-color: white;
    --black-color: black;
    --text-color: #333;
    --light-title-color: #999;
    --primary-color: #ee4d2d;
    --light-btn-primary-color: #fb5533;
    --main-color1: #f53d2d;
    --main-color2: #ff6633;
    --border-color: lightcoral;
    --hover-color: #eee;
    --contain-color: #f5f5f5;
    --footer-color: #777;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
<<<<<<< HEAD
}


/* button */

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--light-btn-primary-color);
}

.btn.btn-signin {
    height: 32px;
    font-size: 1.2rem;
=======
>>>>>>> a7c9ed234e5c48b3a64efe74074bfe40206194b1
}